*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr{
    width: 200px;
    height: 10px;
}
table th {
    padding: 10px;
    text-align: center;
}


table tr td {
    padding: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}

